<form action="/wizard_add">
<h1>New addition</h1>

<label for="1">Add this:</label>
<input id="1" type="text">
<label for="2">to this:</label>
<input id="2" type="text">

<button>Add!</button>

</form>