<form action="/wizard_subtract">
<h1>New subtraction</h1>

<label for="1">Subtract this:</label>
<input id="1" type="text">
<label for="2">from this:</label>
<input id="2" type="text">

<button>Subtract!</button>

</form>