<form action="/wizard_multiply">
<h1>New multiplication</h1>

<label for="1">Multiply this:</label>
<input id="1" type="text">
<label for="2">by this:</label>
<input id="2" type="text">

<button>Multiply!</button>

</form>